{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<body style="background-color: pink;">
<div class="form-group">
<form method="POST">
  <h1 style="color: red; font-family: Bradley Hand; font-weight: bold;"> Add Your Starting Income </h1>
{{ form.income(class="form-control") }}
{{ form.submit(class="btn btn-primary") }}
</form>
</div>
<h1 style="color: red; font-family: Bradley Hand; font-weight: bold;">&hearts;To my luv Kristen Elizabeth Taylor &hearts;</h1>
</body>
{% endblock %}
